* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

* a{
    color: white;
    text-decoration: none;
}

body {
    background-color: black;
}

.mainNetflixcontainer {
    /* border: 3px solid red; */

}

.backgroundcotainer {
    background-image: url(img/IN-en-20250324-TRIFECTA-perspective_69cb00d3-7b5e-45e8-b378-7757f9c8f60b_small.jpg);
    filter: blur(16px);
    height: 100vh;
    position: relative;
}

.pinkoverlay {
    height: 100%;
    width: 100%;
    background-color: rgba(121, 8, 78, 0.404);
    /* background-color: rgb(219,0,0); */
}

.contentcontainer {
    position: absolute;
    top: 0;
    padding: 0rem 3rem;

    background-color: rgba(0, 0, 0, .5);
}

nav {
    /* border: 2px solid green; */
    height: 20vh;
    position: fixed;
    z-index: 1000;
}


.uppernavbarsection {
    /* border: 2px solid blue; */
    display: flex;
    height: 50%;
}

.uppernavbarleftsection {
    /* border: 2px solid gold; */
    width: 50%;
}

.netflixlogo {
    width: 30%;
}

.uppernavbarrightsection {
    /* border: 2px solid yellow; */
    width: 50%;
}

.navbarbuttoncontainer {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.languagebuttom {
    display: flex;
    padding: .2rem .8rem;
    border-radius: 50px;
    background: transparent;
    border: 1px solid white;
    outline: none;
    color: white;
}

.sighinbutton {
    background-color: #fff;
    padding: .2rem .5rem;
    border-radius: 50px;
    outline: none;
    border: none;
    margin-left: 10px;

}

.sighinbutton button {
    background-color: transparent;
    outline: none;
    border: none;
}



.languagebuttom p {
    margin-left: 5px;
}

.lowernavbarsection {
    /* border: 2px solid black; */
    height: 50%;
    color: #fff;
    display: flex;
    justify-content: center;

}

.menulist {
    width: 30%;
    height: 5vh;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    border-radius: 40px;
    border: 1px solid rgb(54, 53, 53);
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 2px 3px 14px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
}

.menulistitem {
    height: 100%;
    display: flex;
    align-items: center;
    color: #7a7575;
}

.sectioncontainerx {
    margin-top: 20vh;
}

.bannersection {
    border: 2px solid gray;
    height: 80vh;
    border-radius: 20px;
    background-size: 100% 100%;
    /* margin-top: 1rem; */
    background-image: url(img/background.jpg);
    position: relative;
    opacity: 1;
}

.bannercontainer {
    /* border: 2px solid rgb(255, 0, 0); */
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bannercontainer h2 {
    font-size: 4rem;
    /* border: 2px solid green; */
    width: 50%;
    text-align: center;
}

.bannercontainer h4 {
    font-size: 1.5rem;
    margin: 20px;
}

.bannercontainer p {
    font-size: 1rem;
    margin: 20px;
}

.inputcontainer {
    /* border: 2px solid green; */
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.emailinputebox {
    padding: 1rem 2rem;
    border-radius: 50px;
    border: none;
    outline: none;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    color: white;
    font-size: 1rem;
}

.emailinputebox ::placeholder {
    color: rgb(255, 255, 255);
}

.getstratedbutton {
    width: 30%;
    background-color: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: 50px;
    margin-left: 0;
}

.overlay {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .7), black);
    border-radius: 20px;
}

.carouselsectuion {
    /* border: 2px solid blue; */
    color: white;
    margin-top: 2rem;
}

.carouselsectuion h2 {
    /* border: 2px solid red; */
    margin-left: 4rem;
    /* margin-top: .5rem; */
    font-size: 2.5rem;
}

.carouserlcontainer {
    /* border: 2px solid green; */
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem auto;
    /* margin-left: 5rem; */
}

.carouserlnumber {
    position: absolute;
    left: -15px;

}


.carouserlnumber span {
    color: rgba(0, 0, 0, 0.8);
    -webkit-text-stroke: 0.125rem rgb(255, 255, 255);
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
    font-size: 4rem;
    font-weight: 800;
}

.carouserlcard {
    width: 12%;
    height: 38vh;
    /* border:  2px solid yellow; */
    border-radius: 20px;
    position: relative;
}

.carouserlimage {
    width: 100%;
    height: 100%;
}

.carouserlimage img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.plancard {
    border: 1px solid rgba(255, 255, 255, 0.32);
    height: 35vh;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-radius: 20px;
    /* background: linear-gradient(149deg, #1c4072 6.96%, #172B47 40.17%, #120c1f 73.39%); */
}

.plancard1 {
    background: linear-gradient(149deg, #1c4072 6.96%, #172B47 40.17%, #120c1f 73.39%);
}

.plancard2 {
    background: linear-gradient(149deg, #1D529D 6.96%, #233371 40.17%, #120c1f 73.39%);
}

.plancard3 {
    background: linear-gradient(149deg, #792A95 6.96%, #38216c 40.17%, #120c1f 73.39%);
}

.plancard4 {
    background: linear-gradient(149deg, #620963 6.96%, #172B47 40.17%, #2f214c 73.39%);
}

.plansection {
    /* border: 2px solid blue; */
    color: white;
    margin-top: 2rem;
}

.plansection h2 {
    /* border: 2px solid palegreen; */
    font-weight: 100;
    margin-left: 4rem;
    font-size: 2rem;
    color: #fffcfc;
}

.planuppercontain h2 {
    /* border: 2px solid red; */
    margin-left: 0;
    font-size: 1.5rem;
    /* margin-top: .5rem; */
    /* font-size: 2.5rem; */
    font-weight: 100;
}

.planuppercontain h4 {
    font-size: 1.3rem;
    margin-top: 1rem;
}

.planuppercontain p {
    font-size: 1rem;
    margin-top: 1rem;

}

.plancontiner {
    /* border: 2px solid green; */
    height: 100%;
    width: 80%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    margin: 1rem auto;
    /* margin-left: 5rem; */
}


.reasonto {
    /* border: 2px solid blue; */
    color: white;
    margin-top: 1rem;
}

.reasonto h2 {
    /* border: 2px solid palegreen; */
    font-weight: 00;
    margin-left: 4rem;
    font-size: 2rem;
    color: #fffcfcd4;
}

.reasoncontiner {
    /* border: 2px solid green; */
    height: 100%;
    width: 80%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    margin: 1rem auto;
}

.reasoncard {
    border: none;
    height: 33vh;
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.174);
}

.reasonupper h2 {
    /* border: 2px solid red; */
    margin-left: 0;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 1.4rem;
    /* margin-top: .5rem; */
    /* font-size: 2.5rem; */
    font-weight: 100;
}

.reasonupper p {
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 100;
    color: #c1bbbb;
}

.lowercontain svg {
    height: 50px;
    width: 50px;
}

.lowercontain {
    display: flex;
    justify-content: end;
}

.faqsection {
    /* border: 2px solid blue; */
    color: white;
    margin-top: 1rem;

}


.faqsection h2 {
    font-weight: 100;
    margin-left: 4rem;
    font-size: 2rem;
    color: #fffcfc;
}

.faqsectioncontainer {
    /* border: 2px solid green; */
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin: 2rem auto;

}

.faqcard {
    /* border: 2px solid red; */
    width: 100%;
}

.faqquestion {
    padding: 1rem;
    border-radius: 10px;
    /* border: 1px solid white; */
    margin-bottom: 20px;
    background-color: #2e2e2e;
}


.faqanswer {
    padding: 2rem;
    border-radius: 10px;
    /* border: 1px solid white; */
    margin-bottom: 20px;
    background-color: #2e2e2e;
}

.faqquestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faqquestion span {
    font-size: 2rem;
    font-weight: 900;
}

.faqanswer {
    display: none;
}

.faqcard:hover {
    cursor: pointer;
}

.faqcard:hover .faqanswer {
    display: block;
    cursor: pointer;
}


.faqsectioncontainer {
    flex-direction: column;
}


.getstartedsection {
    /* border: 2px solid blue; */
    color: white;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.getstartedsection p {
    margin-bottom: 2rem;
}